.panelControl {
  background: #fff;
  width: 92%;
  padding: 2%;
  box-shadow: 0px 4px 8px #cecece;
  margin: auto;
  margin-bottom: 30px;
  margin-top: 46px;
}

.Gates {
  cursor: pointer;
  /* display: inline-block;
  margin: 10px; */
}

.Gates img {
  padding: 10px;
  transition: 0.25s;
  border: 1px solid #ccc;
  width: 120px;
  border-radius: 15px;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.Gates:hover img {
  box-shadow: 0px 5px 10px #e8e8e8;
}

.Gates p {
  transition: 0.25s;
  font-size: 16px;
  text-align: center;
  font-family: iransB;
}

.Gates:hover p {
  color: #da3421;
}

.teach {
  margin-top: 30px;
}

.teach a {
  display: block;
  color: #0b94ef;
  transition: 0.25s;
  cursor: pointer;
  font-family: iransB;
  line-height: 2.5;
  font-size: 14px;
}

.teach a:hover {
  color: #009688;
}
