footer {
  position: relative;
  background: rgb(3, 107, 202);
  background: linear-gradient(
    0deg,
    rgba(3, 107, 202, 1) 0%,
    rgba(0, 61, 151, 1) 100%
  );
}
.shaperContainer {
  transform: rotate(180deg);
  position: absolute;
  right: 0;
}
.rectangel1 {
  display: block;
  margin: auto;
  border: 15px solid #fcfdff;
  background: #fcfdff;
  width: 35px;
  height: 38px;
  position: relative;
  z-index: 2;
  margin-bottom: -33px;
  border-top-right-radius: 50%;
  border-top-left-radius: 50%;
}
.rectangel2 {
  display: block;
  margin: auto;
  position: relative;
  border: 15px solid #fcfdff;
  width: 197px;
}
.rectangel2:after,
.rectangel2:before {
  position: absolute;
  width: 126px;
  height: 109px;
  background: rgb(0, 71, 162);
  background: linear-gradient(
    0deg,
    rgba(0, 61, 151, 1) 0%,
    rgba(0, 71, 162, 1) 100%
  );
  content: "";
  clear: both;
  display: block;
  bottom: -33px;
  left: -60px;
  margin: auto;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 39%;
}

.rectangel2:before {
  left: auto;
  right: -60px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 39%;
}

.rectangel3 {
  display: block;
  margin: auto;
  border: 9px solid #fcfdff;
  width: 130px;
}

.branding {
  text-align: left;
  padding-top: 25px;
}

.branding img {
  width: 65px;
  margin-left: 20px;
  display: inline-block;
  vertical-align: middle;
}

.branding h2 {
  font-size: 32px;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  padding-left: 30px;
}

.sortSection {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  margin-top: 50px;
}

.sortSection section {
  width: 33.3%;
}

.sortSection .aboutirnLuck a {
  margin-top: 10px;
  font-size: 14px;
}

.aboutirnLuck p,
.sortSection section li a,
.Socialiranluck p {
  font-size: 14px;
  line-height: 2.5;
}

.linkirnLuck {
  padding-right: 30px;
}

.sortSection section h3 {
  margin-bottom: 15px;
}

.sortSection section h3,
.sortSection section p,
.sortSection section li a,
.sortSection section span,
.sortSection section strong,
.sortSection section a,
.signature p {
  font-family: iransL;
  color: #fff;
}

.sortSection section li a {
  transition: 0.25s;
}

.sortSection section li a:hover {
  transition: 0.25s;
  font-weight: bold;
}

.Socialiranluck a {
  transition: 0.25s;
  display: block;
  max-width: 180px;
  margin: 20px auto;
}

.Socialiranluck a:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}

.instaBTN {
  color: #fff;
  font-family: iransM;
  border-radius: 4px;
  padding: 8px 15px;

  background: rgb(240, 105, 82);
  background: linear-gradient(
    90deg,
    rgba(240, 105, 82, 1) 0%,
    rgba(218, 57, 126, 1) 26%,
    rgba(175, 53, 158, 1) 54%,
    rgba(129, 68, 184, 1) 84%,
    rgb(81, 94, 209) 100%
  );
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
  min-width: 160px;
  align-items: center;
}

.telegramBTN {
  color: #fff;
  font-family: iransM;
  border-radius: 4px;
  padding: 8px 15px;

  background: #0088cc;
  background: linear-gradient(
    90deg,
    rgba(87, 180, 226, 1) 0%,
    rgba(0, 136, 204, 1) 100%
  );
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
  min-width: 160px;
  align-items: center;
}

.instaBTN img,
.telegramBTN img {
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
.signature {
  margin-top: 50px;
  text-align: left;
}

.signature img {
  vertical-align: middle;
  display: inline-block;
  width: 30px;
  float: right;
}

.signature p {
  vertical-align: middle;
  font-size: 12px;
  display: inline-block;
}

.ToTop {
  cursor: pointer;
  position: absolute;
  z-index: 3;
  right: 92px;
  display: flex;
  justify-content: center;
  align-content: center;
  background: #1093c9;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  top: 27px;
}
.ToTop a {
  margin: auto;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
}
.ToTop img {
  width: 20px;
  display: block;
  margin: auto;
}

@media screen and (max-width: 720px) {
  .rectangel2:after,
  .rectangel2:before {
    background: linear-gradient(0deg, rgb(0, 61, 151) 0%, rgb(0, 67, 158) 100%);
  }
  .sortSection {
    display: block;
  }
  .sortSection section.aboutirnLuck {
    display: inline-block;
    width: 50%;
    vertical-align: top;
  }
  .sortSection section.linkirnLuck {
    padding-right: 10%;
    width: 40%;
    display: inline-block;
    vertical-align: top;
  }
  .branding h2 {
    font-size: 26px;
    padding-left: 12px;
  }
  .branding img {
    width: 55px;
    position: relative;
    z-index: 4;
  }
}
@media screen and (max-width: 480px) {
  .branding h2 {
    display: none;
  }
  .sortSection section.aboutirnLuck,
  .sortSection section.linkirnLuck,
  .sortSection section.Socialiranluck {
    padding: 0;
    display: block;
    width: 95%;
    margin: auto;
  }
 .signature{
    text-align: center;
  }
  .signature img{
      float: none;
      width: 45px;
  }
}
