.panelControl {
    background: #fff;
    width: 92%;
    padding: 2%;
    box-shadow: 0px 4px 8px #cecece;
    margin: auto;
    margin-bottom: 30px;
    margin-top: 46px;
  }
  .deposit,
  .luckyCoin {
    margin: 1em 0;
  }
  .deposit span,
  .luckyCoin span {
    display: inline-block;
    margin: 0 10px;
    vertical-align: middle;
    font-size: 18px;
    font-family: iransB;
    border-bottom: 2px solid #525252;
    width: 18px;
    text-align: center;
    line-height: 1.2;
  }
  
  .deposit a {
    color: #0099ff;
    font-size: 14px;
    cursor: pointer;
    font-family: iransM;
    border-bottom: 1px solid transparent;
  }
  
  .deposit a:hover {
    transition: 0.25s;
    border-bottom: 1px solid #0099ff;
  }
  
  .deposit a,
  .deposit p {
    margin-left: 20px;
    display: inline-block;
    vertical-align: middle;
  }
  
  .pandSpan p {
    line-height: 3;
    color: green;
    font-family: iransBL;
    vertical-align: middle;
    display: inline-block;
    border-radius: 4px;
  }
  .pandSpan span {
    font-family: iransM;
    color: green;
    border: 1px solid green;
    font-size: 11px;
    border-radius: 4px;
    display: inline-block;
    margin: 0 10px;
    padding: 0px 6px;
    vertical-align: middle;
  }