.Title h2 {
  margin: 1em 0;
  font-family: iransBL;
  color: #0099ff;
}

.father {
  margin-top: 50px;
  margin-bottom: 80px;
}

.father p {
  font-family: iransM;
  margin: 0px 0 20px 0;
}

.father p.Alert {
  color: firebrick;
  font-family: iransBL;
}

.father p.green {
  color: green;
  font-family: iransBL;
}

.Socialiranluck p {
  font-size: 12px;
  text-align: center;
  line-height: 1;
  margin-bottom: 0;
  margin-top: 15px;
}
.Socialiranluck a {
  transition: 0.25s;
  display: block;
  max-width: 180px;
  margin: 20px auto;
}

.Socialiranluck a:hover {
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.5);
}
.instaBTN {
  color: #fff;
  font-family: iransM;
  border-radius: 4px;
  padding: 8px 15px;

  background: rgb(240, 105, 82);
  background: linear-gradient(
    90deg,
    rgba(240, 105, 82, 1) 0%,
    rgba(218, 57, 126, 1) 26%,
    rgba(175, 53, 158, 1) 54%,
    rgba(129, 68, 184, 1) 84%,
    rgb(81, 94, 209) 100%
  );
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
  min-width: 160px;
  align-items: center;
}

.telegramBTN {
  color: #fff;
  font-family: iransM;
  border-radius: 4px;
  padding: 8px 15px;

  background: #0088cc;
  background: linear-gradient(
    90deg,
    rgba(87, 180, 226, 1) 0%,
    rgba(0, 136, 204, 1) 100%
  );
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.11);
  min-width: 160px;
  align-items: center;
}

.instaBTN img,
.telegramBTN img {
  width: 18px;
  display: inline-block;
  vertical-align: middle;
  margin-left: 10px;
}
