.Title h2 {
  margin: 1em 0;
  font-family: iransBL;
  color: #0099ff;
}

.Title h3 {
  margin: 1em 0;
  font-family: iransBL;
}

.P {
  margin: 1em 0;
  font-family: iransM;
}

.Refer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Refer a img {
  width: 125px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}
