.Title h2 {
  margin: 1em 0;
  font-family: iransBL;
  color: #0099ff;
}

.Title h3 {
  margin: 1em 0;
  font-family: iransBL;
}

.Refer {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Refer a img {
  width: 125px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
}

.relevant {
  margin-bottom: 90px;
}

.relevant a {
  transition: 0.25s;
  color: #0099ff;
  display: block;
  font-family: iransBL;
  text-decoration: underline;
}

.relevant a:hover {
  color: #0879c4;
}

.relevant h3 {
  margin: 2em 0 10px;
}

.Steps {
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.Steps div {
  box-shadow: 0px 7px 20px #eaeaea;
  margin: 2%;
  width: 98%;
}

a.uareHere {
  color: firebrick;
}
