.flexFather {
  display: flex;
  justify-content: center;
  align-items: flex-start;
}
.partLeft {
  min-height: 600px;
  width: 75%;
}
.partRight {
  transition: 0.25s all;
  background: #222d32;
  width: 25%;
  min-height: 600px;
  padding: 30px 0px 0 0;
  padding-bottom: 130px;
  overflow-y: scroll;
}

/* width */
.partRight::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.partRight::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

/* Handle */
.partRight::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.support {
  border-top: 1px solid #ccc;
  text-align: center;
}

.support a{
  font-size: 12px;
}

.support a img{
  display: inline-block;
  vertical-align: middle;
  background: #0099ff;
  padding: 4px;
  width: 11px;
  border-radius: 4px;
  margin-right: 7px;
}

@media screen and (max-width: 650px) {
  .flexFather {
    display: block;
  }
  .partLeft {
    width: 100%;
  }
  .shwoMenu {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    z-index: 1005;
    transform: translateX(0px);
    box-shadow: 0px 0px 25px #333;
  }
  .partRight {
    min-height: 60px;
  }
  .hideMenu {
    z-index: 1005;
    position: fixed;
    height: 100%;
    top: 0;
    left: 0;
    width: 250px;
    transform: translateX(-500px);
  }
}
