.container {
  position: relative;
  z-index: 2;
  background: #2f2c61;
  transition: 0.25s all;
  top: 0;
}

/* width */
.container::-webkit-scrollbar {
  width: 5px;
}

/* Track */
.container::-webkit-scrollbar-track {
  border-radius: 10px;
  background: transparent;
}

/* Handle */
.container::-webkit-scrollbar-thumb {
  background: transparent;
  border-radius: 10px;
}

.firstPart,
.secondPart {
  width: 42%;
  display: inline-block;
  vertical-align: middle;
}

.secondPart {
  width: 58%;
  text-align: left;
}

.firstPart div {
  display: inline-block;
  vertical-align: middle;
}

.menulist li {
  padding: 0 20px;
  display: inline-block;
}

.menulist li a {
  display: inline-block;
  color: #fff;
  padding-right: 10px;
}
.menulist li a:hover {
  text-decoration: underline;
}

.logo {
  width: 51px;
  margin: 9px 0px 9px 10px;
  display: inline-block;
  vertical-align: middle;
}

@media screen and (max-width: 860px) {
  .menulist li {
    padding: 0 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 720px) {
  .menulist li {
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .container {
    overflow-y: scroll;
  }
  .shwoMenu {
    padding-top: 10px;
    background: #44458c;
    position: fixed;
    height: 100%;
    width: 200px;
    z-index: 1000;
    transform: translateX(0px);
    box-shadow: 0px 0px 25px #333;
  }
  .firstPart div {
    display: block;
  }
  .menulist li a{
    display: block;
    padding: 0;
    font-size: 14px;
    text-align: right;
    line-height: 3;
    padding-right: 10px;
  }
  .menulist li a:hover {
    background: #2d2e71;
  }
  .hideMenu {
    background: #44458c;
    z-index: 1000;
    position: fixed;
    height: 100%;
    width: 200px;
    transform: translateX(500px);
  }
  .firstPart,
  .secondPart {
    width: 100%;
    display: block;
  }
  .menulist li {
    padding: 0%;
    display: block;
  }
  .logo {
    width: 51px;
    margin: 10px 10px 25px 0;
    display: block;
  }
}
