.continer {
  vertical-align: top;
  width: 50%;
  height: 100%;
  border-radius: 0;
  border-bottom-left-radius: 4px;
  border-top-left-radius: 4px;
  position: relative;
  display: inline-block;
  z-index: 1;
  background: #fff;
}

.box {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.forgetPass {
  font-family: "iransM";
  color: firebrick;
  font-size: 12px;
  display: block;
  width: 71%;
  margin: 4px auto 15px auto;
  text-align: right;
}

.ButtonForm {
  cursor: pointer;
  height: 45px;
  margin: 35px auto 20px auto;
  width: 71%;
  border: 1px solid transparent;
}

.ButtonForm:disabled:hover {
  border: 1px solid transparent;
}

.ButtonForm:hover,
.googleLogin:hover {
  transition: 0.25s;
  background: #349aec;
  border: 1px solid #349aec;
}

.googleLogin {
  cursor: pointer;
  text-align: right;
  background: #4981ed;
  border: 1px solid #4981ed;
  width: 71%;
  margin: auto;
  border-radius: 4px;
  -webkit-box-shadow: 0 10px 20px rgba(73, 129, 237, 0.3),
    0 6px 6px rgba(73, 129, 237, 0.3);
  -moz-box-shadow: 0 10px 20px rgba(73, 129, 237, 0.3),
    0 6px 6px rgba(73, 129, 237, 0.3);
  -ms-box-shadow: 0 10px 20px rgba(73, 129, 237, 0.3),
    0 6px 6px rgba(73, 129, 237, 0.3);
  -o-box-shadow: 0 10px 20px rgba(73, 129, 237, 0.3),
    0 6px 6px rgba(73, 129, 237, 0.3);
  box-shadow: 0 10px 20px rgba(73, 129, 237, 0.3),
    0 6px 6px rgba(73, 129, 237, 0.3);
}

.googleLogin p,
.googleLogin img {
  display: inline-block;
  vertical-align: middle;
}

.googleLogin p {
  padding-right: 43px;
  font-family: "iransM";
  color: #fff;
}

.googleLogin img {
  padding: 10px;
  width: 23px;
  border-radius: 0;
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  background: #fff;
}

.Move {
  animation: move 0.5s cubic-bezier(0.75, -0.28, 0.84, 0.6) forwards;
}

@keyframes move {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(330px, 0);
    opacity: 0;
    z-index: -1;
  }
}

.fadein {
  opacity: 0;
  animation: fade 0.3s linear 0.4s forwards;
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@media screen and (max-width: 720px) {
  .continer {
    width: 100%;
  }
  .box {
    padding-top: 0px;
  }
  .box input {
    margin: 12px auto 0;
  }
}
