.Container {
  width: 50%;
}

.Container h3 {
  font-size: 18px;
  text-align: center;
  color: #42a5f5;
  font-family: iransB;
}

.Container span {
  color: #42a5f5;
  display: block;
  font-size: 12px;
}

.Form {
  margin-top: 45px;
  display: flex;
  justify-content: space-around;
  align-content: center;
}

.Form input,
.Form button {
  margin: 0;
  width: 40%;
  display: inline-block;
  vertical-align: middle;
}

.Form input:disabled , .Form button:disabled:hover{
  background: #ccc
}

.Form button:hover {
  cursor: pointer;
  transition: 0.25s;
  background: #349aec;
}

@media screen and (max-width: 880px) {
  .Form {
    margin-top: 20px;
  }
  .Container h3 {
    font-size: 16px;
    text-align: center;
    color: #42a5f5;
    direction: rtl;
  }

  .Container span {
    color: #42a5f5;
    font-size: 12px;
  }
}

@media screen and (max-width: 720px) {
  .Container {
    width: 90%;
    margin-top: 15px;
  }
}

@media screen and (max-width: 480px) {
  .Container {
    width: 100%;
  }
}
