.menulist li {
  display: inline-block;
}

.menulist li a,
.LogBtn {
  transition: 0.25s;
  padding: 0 20px;
  color: #fff;
  display: block;
}

.menulist .LogBtn {
  padding-left: 0;
  cursor: pointer;
}

.menulist .LogBtn:hover,
.menulist li a:hover {
  text-decoration: underline;
}

@media screen and (max-width: 860px) {
  .menulist li a,
  .LogBtn {
    padding: 0 12px;
    font-size: 14px;
  }
}

@media screen and (max-width: 720px) {
  .menulist li a,
  .LogBtn {
    font-size: 12px;
  }
}

@media screen and (max-width: 650px) {
  .menulist li {
    display: block;
  }
  .menulist .LogBtn:hover,
  .menulist li a:hover {
    background: #2d2e71;
  }
  .menulist li a,
  .LogBtn {
    display: block;
    padding: 0;
    font-size: 14px;
    text-align: right;
    line-height: 3;
    padding-right: 10px;
  }
}
