.background {
  background: #2f2c61;
}

.bannerPart {
  /* background: url("../../../Assets/banner.jpg") no-repeat;
  background-position: left 30%;
  background-size: 550px;*/
  height: 550px;
  position: relative;
}

/* You could use :after - it doesn't really matter */
.bannerPart:after {
  background: url("../../../Assets/banner.jpg") no-repeat;
  background-position: left 30%;
  background-size: 550px;
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.padding {
  padding-right: 7.5%;
}

.bannerPart h1 {
  padding-top: 70px;
  font-size: 60px;
  color: #fff;
  font-family: iransBL;
  margin: 0 0 20px 0;
  position: relative;
  z-index: 2;
}

.bannerPart h2 {
  font-size: 30px;
  color: #fff;
  font-family: iransL;
  position: relative;
  z-index: 2;
}
.bannerPart h3 {
  font-size: 38px;
  color: #dd1414;
  font-family: iransBL;
  text-shadow: 0px 3px 4px rgba(255, 0, 0, 0.6);
  position: relative;
  z-index: 2;
}

@media screen and (max-width: 1366px) {
  .bannerPart h1 {
    padding-top: 120px;
    font-size: 50px;
  }

  .bannerPart h2 {
    font-size: 20px;
  }
  .bannerPart h3 {
    font-size: 28px;
  }
}

@media screen and (max-width: 1024px) {
  .bannerPart:after {
    background-size: 450px;
    opacity: 0.75;
  }
}

@media screen and (max-width: 880px) {
  .bannerPart h1 {
    padding-top: 120px;
    font-size: 40px;
  }

  .bannerPart h2 {
    font-size: 16px;
  }
  .bannerPart h3 {
    font-size: 20px;
  }
  .padding {
    padding-right: 5.5%;
  }
  .bannerPart:after {
    background-size: 400px;
    /* background-position: left 45%; */
  }
}
@media screen and (max-width: 720px) {
  .padding {
    padding-right: 0%;
  }
  .bannerPart h1 {
    padding-top: 30px;
  }
  .bannerPart h1,
  .bannerPart h2,
  .bannerPart h3 {
    text-align: center;
  }
  .bannerPart:after {
    background-size: 500px;
    opacity: 1;
    left: -17px;
    background-position: center 80%;
  }
}

@media screen and (max-width: 480px) {
  .bannerPart h2 {
    font-size: 12px;
    text-align: center;
  }
  .bannerPart:after {
    left: 0px;
    background-size: 400px;
    background-position: center 63%;
  }
}
