.father {
  background: #44458c;
}

.DIV {
  display: inline-block;
  width: 60%;
  text-align: left;
  vertical-align: top;
}

.DIV:nth-of-type(2) {
  width: 40%;
}

.DIV a {
  color: #fff;
  font-size: 12px;
  margin-top: 8px;
  display: inline-block;
}

.DIV:first-child a {
  display: block;
  text-align: right;
}

.DIV a img {
  width: 15px;
  margin: 0 10px;
  margin-bottom: -3px;
}

.DIV a img:hover {
    box-shadow: 0 0 2px #fff;
}
