@font-face {
  font-family: "iransL";
  src: url("./Assets/Fonts/iransL.eot?#iefix") format("embedded-opentype"),
    url("./Assets/Fonts/iransL.woff2") format("woff2"),
    url("./Assets/Fonts/iransL.woff") format("woff"),
    url("./Assets/Fonts/iransL.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "iransM";
  src: url("./Assets/Fonts/iransM.eot?#iefix") format("embedded-opentype"),
    url("./Assets/Fonts/iransM.woff2") format("woff2"),
    url("./Assets/Fonts/iransM.woff") format("woff"),
    url("./Assets/Fonts/iransM.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "iransB";
  src: url("./Assets/Fonts/iransB.eot?#iefix") format("embedded-opentype"),
    url("./Assets/Fonts/iransB.woff2") format("woff2"),
    url("./Assets/Fonts/iransB.woff") format("woff"),
    url("./Assets/Fonts/iransB.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: "iransBL";
  src: url("./Assets/Fonts/iransBL.eot?#iefix") format("embedded-opentype"),
    url("./Assets/Fonts/iransBL.woff2") format("woff2"),
    url("./Assets/Fonts/iransBL.woff") format("woff"),
    url("./Assets/Fonts/iransBL.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

body {
  margin: 0;
  padding: 0;
  background: #fcfdff;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "iransL";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  vertical-align: baseline;
  line-height: 2;
  color: #424242;
}

input,
select,
textarea,
button {
  outline: none;
}

input {
  background: #f7f7f7;
  border: 1px solid #d3d3d3;
  border-radius: 4px;
  padding: 11px;
  width: 65%;
  display: block;
  font-family: "iransM";
  text-align: right;
  color: #424242;
  margin: 20px auto 0;
}

input:hover {
  background: #fcfdff;
}

input:focus {
  border: 1px solid #42a5f5;
  background: #fff;
}

button {
  display: block;
  margin: auto;
  background: #42a5f5;
  font-family: "iransM";
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px;
  font-size: 16px;
  -webkit-box-shadow: 0 4px 8px rgba(66, 165, 245, 0.38),
    0 5px 14px rgba(66, 165, 245, 0.28);
  -moz-box-shadow: 0 4px 8px rgba(66, 165, 245, 0.38),
    0 5px 14px rgba(66, 165, 245, 0.28);
  -ms-box-shadow: 0 4px 8px rgba(66, 165, 245, 0.38),
    0 5px 14px rgba(66, 165, 245, 0.28);
  -o-box-shadow: 0 4px 8px rgba(66, 165, 245, 0.38),
    0 5px 14px rgba(66, 165, 245, 0.28);
  box-shadow: 0 4px 8px rgba(66, 165, 245, 0.38),
    0 5px 14px rgba(66, 165, 245, 0.28);
}

button:hover {
  background: #1680d6;
}

button:disabled,
button:disabled:hover {
  background: #cacaca;
  box-shadow: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

a {
  text-decoration: none;
}

ol,
ul {
  list-style: none;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th,
td {
  padding: 8px;
  text-align: right;
  font-size: 14px;
  border-bottom: 1px solid #ddd;
}

tr:hover {
  background-color: #f5f5f5;
}
